<h1>Closest Stations</h1>

<% facade.stations.each do |station| %>
  <ul class="closest-stations">
    <li>Name: <%= station.name  %></li>
    <li>Address: <%= station.address %></li>
    <li>Fuel Types: <%= station.fuel_type %></li>
    <li>Distance: <%= station.distance %></li>
    <li>Access Times: <%= station.access_times %></li>
  </ul>
<% end %>
